@font-face {
  font-family: "Batangas";
  src: url("../fonts/Batangas-Bold.otf");
}

/* @font-face {
  font-family: "Spacegrotesk";
  src: url("../fonts/SpaceGrotesk-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Spacegrotesk";
  src: url("../fonts/SpaceGrotesk-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Spacegrotesk";
  src: url("../fonts/SpaceGrotesk-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Spacegrotesk";
  src: url("../fonts/SpaceGrotesk-Bold.otf");
  font-weight: 700;
} */
