.home {
  overflow: hidden hidden;
  min-height: 100vw;
}

.ocean {
  height: 8%;
  transform: rotateX(180deg);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.wave {
  background: url(/wave.svg) repeat-x;
  position: absolute;
  top: -195px;
  width: 6400px;
  height: 198px;
  animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -170px;
  animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
  left: -500px;
}

.wave:nth-of-type(3) {
  top: -170px;
  animation: wave 30s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
  left: -1000px;
}

@media (max-width: 680px) {
  .ocean {
    height: 100%;
    top: 14rem;
    overflow: hidden;
  }
  .wave {
    top: 2rem;
  }

  .wave:nth-of-type(2) {
    top: 2rem;
    animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }

  .wave:nth-of-type(3) {
    top: 2rem;
    animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
